@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


/* this is for google fonts */
/* this is a universal selector for all text on the html document */
* {
    font-family: "DM Sans", sans-serif;
}

.overall {
    background: #2F1893;
    padding-bottom: 50px;
}


/* this is for custom fonts */
/* @font-face {
    font-family: "myhtml-font";
    src: url("./fonts/MonumentExtended-Ultrabold.otf");
} */

body {
    margin: 0;
    padding: 0;
}

header {

    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.site-nav ul {
    display: flex;
}

.site-nav ul li a {
    color: #fff;
    text-decoration: none;
    /* margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px */

    margin: 10px 20px;
    line-height: 2.2;
}

.site-nav ul li {
    list-style: none;
}

.btn {
    outline: none;
    box-shadow: none;
    background: transparent;
    color: #fff;
    border: 1px solid rgb(146, 142, 142);
    padding: 10px 30px;
    border-radius: 20px;
}

.btn:hover {
    background: blue;
    cursor: pointer;
}

.logo {
    margin-top: 22px;
}

.na {
    display: flex;
    gap: 50px;
    margin-top: 23px;
}
.na li {
    list-style: none;
}
.na li a {
    color: #fff;
    text-decoration: none;
}
.hero-section {
    text-align: center;
}

.hero-section h1 {
    color: #fff;
    font-size: 60px;
}

.hero-section p {
    color: rgb(199, 194, 194);
    font-size: 18px;
}

form {
    padding-bottom: 30px;
}

.form-control {
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 10px 25px;
    border: 1px solid rgb(112, 105, 105);
    border-radius: 20px;
    color: #fff;
    width: 246px;
}

.hero-btn {
    border: 0;
    background: #25DAC5;
    padding: 10px 25px;
    border-radius: 20px;
    color: #fff;
}

small {
    color: rgb(112, 105, 105);
}
.design-section h2 {
    text-align: center;
    color: #1E0E62;
    background: #fff;
    padding: 40px;
    padding-bottom: 20px;
}
.design-section {
    color: rgb(199, 194, 194);
    font-size: 18px;
    background: #fff;
    text-align: center;
}